@import './vars';

// mixins for grid system
// ------------------------

@mixin loop-grid-columns($index, $class) {
  @if $index == 0 {
    .#{$rrsp-prefix}-col#{$class}-#{$index} {
      display: none;
    }
    .#{$rrsp-prefix}-col-push-#{$index} {
      left: auto;
    }
    .#{$rrsp-prefix}-col-pull-#{$index} {
      right: auto;
    }
    .#{$rrsp-prefix}-col#{$class}-push-#{$index} {
      left: auto;
    }
    .#{$rrsp-prefix}-col#{$class}-pull-#{$index} {
      right: auto;
    }
    .#{$rrsp-prefix}-col#{$class}-offset-#{$index} {
      margin-left: 0;
    }
    .#{$rrsp-prefix}-col#{$class}-order-#{$index} {
      order: 0;
    }
  } @else if $index > 0 {
    .#{$rrsp-prefix}-col#{$class}-#{$index} {
      display: block;
      flex: 0 0 percentage(($index / $grid-columns));
      max-width: percentage(($index / $grid-columns));
    }
    .#{$rrsp-prefix}-col#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
    .#{$rrsp-prefix}-col#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
    .#{$rrsp-prefix}-col#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
    .#{$rrsp-prefix}-col#{$class}-order-#{$index} {
      order: $index;
    }
    @include loop-grid-columns(($index - 1), $class);
  }
}

@mixin make-grid($class: ''){
  @include loop-grid-columns($grid-columns, $class);
}
